@import "@/styles/_variables.scss";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    font-size: 1.2rem;

    border-radius: 5px;
    color: $black;

    &.selected {
      font-weight: bold;
      color: #fff;
      background-color: $primary;
    }

    &:hover {
      cursor: pointer;
      color: #0070f3;
    }
  }

  .previous,
  .next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    font-size: 1.2rem;

    &:hover {
      cursor: pointer;
      color: #0070f3;
    }

    &.disabled {
      color: #d1d1d1;

      &:hover {
        cursor: not-allowed;
        color: #d1d1d1;
      }
    }
  }

  .pageLink {
    width: 40px;
    height: 40px;
  }

  .pageLink,
  .previousLink,
  .nextLink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $black;

    i {
      font-size: 1.2rem;
    }
  }

  .activeLink {
    color: #fff;
  }

  .break {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    font-size: 1.2rem;
    color: #d1d1d1;
  }
}
