@import "@/styles/_variables.scss";

.container {
	max-width: 400px;
	width: 100%;
}

.title {
	font-size: 20px;
	margin-bottom: 1.5rem;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}
