@import "@/styles/_variables.scss";

.sidebar {
  width: 350px;
  height: 100%;
  background: white;
  border-right: 1px solid $stroke;
}

.conversations {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contentContainer {
  padding: 0.5rem 1rem;
}

.titleContainer {
  border-bottom: 1px solid $stroke;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.title {
  font-size: 20px;
}
