@import "@/styles/_variables.scss";

.loadingOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// background-color: rgba($primary, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.loadingSpinner {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $primary;
	font-size: 1.175rem;
	p {
		margin-top: 2rem;
	}
}

.spinnerIcon {
	animation: spin 1s linear infinite;
	font-size: 80px;
	color: $primary;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
