@import "@/styles/_variables.scss";

.title {
  color: $primary;
}

.header {
  background-color: white;
  padding: 0.5rem 0;
  flex: 1;
  height: 55px;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid $stroke;
  display: flex;
  justify-content: flex-end;
  margin-left: 275px;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
