@import "@/styles/_variables.scss";

.header {
	background-color: white;
	padding: 0.75rem 0;
	flex: 1;
	height: 65px;
	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 1px solid $stroke;
	display: flex;
	justify-content: flex-end;
	box-shadow: 0 25px 15px -15px rgba(24, 21, 41, 0.1);
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.title {
	font-size: 24px;
	font-weight: bold;
	color: $primary;
}

.right {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	height: 100%;
}

.icon {
	display: flex;
	height: 22px;
	svg {
		height: 100%;
	}
}
