.form {
  width: 100%;
  margin-top: 3rem;
}

.inputWrapper {
  display: flex;
  gap: 3rem;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: end;
}

.button {
  margin-top: 5rem;
  font-size: 14px;
  width: auto;
  padding: 0 2rem;
}
