@import "@/styles/_variables.scss";

.tag {
	border: 0.5px solid #b4b4b4;
	color: #b4b4b4;
	font-size: 14px;
	padding: 0.25rem 0.75rem;
	border-radius: 5px;
	background-color: rgba(#b4b4b4, 0.05);
	cursor: pointer;
	transition: 0.2s ease background-color, 0.2s ease color, 0.2s ease border,
		0.2s ease opacity;
	&:hover {
		background-color: rgba(rgba($primary, 0.5), 0.05);
		color: rgba($primary, 0.5);
		border: 0.5px solid rgba($primary, 0.5);
	}
}

.active {
	border: 0.5px solid $primary;
	color: $primary;
	background-color: rgba($primary, 0.05);
}

.disabled {
	&:not(.active) {
		opacity: 0.3;
		pointer-events: none;
	}
}
