@import "@/styles/_variables.scss";

.btn {
  background: $primary;
  border: none;
  border-radius: 10px;
  color: white;
  font: inherit;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s ease background;
  cursor: pointer;
  &:hover {
    background: darken($primary, 10%);
  }
  &[data-variant="pill"] {
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
  }
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  svg {
    width: 20px;
  }
  &.large {
    width: 100%;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  &.small {
    padding: 0 1.5rem;
  }
}

.alt {
  color: $primary;
  background: white;
  border: 1px solid $primary;
  border-radius: 10px;
}

.noLink {
  padding: 0 1.5rem;
}
