@import "@/styles/_variables.scss";

.container {
	width: 100%;
	position: relative;
	margin-bottom: 4rem;
}

.details {
	margin-left: calc(150px + 1rem);
	margin-right: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}

.title {
	font-size: 28px;
}

.subtitle {
	text-transform: capitalize;
	margin-top: 0.25rem;
	color: $dark-light;
}

.bannerContainer {
	position: relative;
}

.banner {
	height: 300px;
	width: 100%;
	object-fit: cover;
	display: inline-block;
	// border-radius: 15px;
}

.profilePhoto {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
	outline: 5px solid $background;
}

.content {
	position: absolute;
	bottom: -90px;
	// left: 2rem;
	display: flex;
	align-items: flex-end;
}

.changePhoto {
	width: 30px;
	height: 30px;
	background: $primary;
	border-radius: 50%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 50%;
	bottom: -15px;
	transform: translateX(-50%);
	transition: 0.2s ease background;
	cursor: pointer;
	&:hover {
		background: darken($primary, 10%);
	}
}

.changePhotoImage {
	width: 16px;
	color: white;
}

.fileInput {
	display: none;
}

.buttons {
	display: flex;
	gap: 0.75rem;
}
