@import "@/styles/_variables.scss";

.container {
	list-style-type: none;
	border: 1px solid $primary;
	background: rgba($primary, 0.05);
	padding: 0.5rem 1rem;
	font-size: 12px;
	border-radius: 5px;
	color: $primary;
	// font-family: "Consolas";
	white-space: nowrap;
	opacity: 0.5;
}

.highlight {
	opacity: 1;
}

.purple {
	background: rgba(#a742ff, 0.05);
	color: #a742ff;
	border: 1px solid #a742ff;
}

.orange {
	background: rgba(#f18805, 0.05);
	color: #f18805;
	border: 1px solid #f18805;
}

.black {
	background: rgba($black, 0.05);
	color: $black;
	border: 1px solid $black;
}
