.imageList {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.imageWrapper {
	width: calc((100% - 3rem) / 4);
	position: relative;
}

.delete {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: 18px;
	cursor: pointer;
}
