@import "@/styles/_variables.scss";
@import "@/styles/_breakpoints.scss";

.form {
	height: 100%;
}

.input {
	flex: 1;
	border: none;
	background: transparent;
	color: $black;
	font: inherit;
	font-size: 14px;
	&:focus {
		outline: none;
	}
	padding: 0 2rem 0 3.5rem;
	height: 100%;
	border-radius: 50px;
	transition: 0.2s ease border;
}

.wrapper {
	display: flex;
	align-items: center;
	background-color: rgba($primary, 0.05);

	max-width: 500px;
	width: 100%;
	border-radius: 50px;
	position: relative;
	height: 100%;
	@include breakpoint(sm, max) {
		display: none;
	}
}

.icon {
	height: 45%;
	color: $black;
	position: absolute;
	left: 1.5rem;
	pointer-events: none;
}

.input::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: $black;
	opacity: 1; /* Firefox */
}

.input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: $black;
}

.input::-ms-input-placeholder {
	/* Microsoft Edge */
	color: $black;
}
