@import "@/styles/_variables.scss";

.navItem {
  width: 200px;
  border: 0.5px solid #b4b4b4;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  color: #b4b4b4;
  background: rgba(#b4b4b4, 0.05);
}

.link {
  display: flex;
  align-items: center;
}

.icon {
  color: #b4b4b4;
  width: 28px;
  margin-right: 1rem;
}

.step {
  font-size: 12px;
}

.title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0rem;
}

.active {
  color: $primary;
  border: 0.5px solid $primary;
  background: rgba($primary, 0.05);
  .icon {
    color: $primary;
  }
}
