@import "@/styles/_variables.scss";

.container {
  margin-bottom: 2rem;
}

.link {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.active {
  font-weight: bold;
}

.iconWrapper {
  width: 45px;
}

.icon {
  height: 25px;
  color: rgba($black, 0.75);
  margin-right: 1.25rem;
}

.iconActive {
  color: $black;
}
