.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.large {
  max-width: 100%;
  padding: 0 2rem;
}

.margin {
  margin: 3rem auto;
}
