@import "@/styles/_variables.scss";

.container {
  width: 400px;
  height: 100%;
  background: white;
  border-left: 1px solid $stroke;
}

.titleContainer {
  border-bottom: 1px solid $stroke;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.title {
  font-size: 20px;
}
