@import "@/styles/_variables.scss";

.container {
  display: flex;
  margin-bottom: 1rem;
  justify-content: flex-start;
  padding: 0 1rem;
  list-style: none;
}

.messageWrapper {
  max-width: 80%;
}

.content {
  background: white;
  color: white;
  padding: 0.5rem 0.75rem;
  width: fit-content;
  border-radius: 10px;
  border: 1px solid $stroke;
}

.contentText {
  line-height: 20px;
  color: $black;
}

.fromUser {
  justify-content: flex-end;

  .content {
    background: $primary;
    border: 1px solid $primary;
  }

  .contentText {
    color: white;
  }
}
