@import "@/styles/_variables.scss";

.questionBlock {
  width: calc(50% - 1rem);
  background: white;
  padding: 3rem;
  border-radius: 15px;
  border: 1px solid $stroke;
  &:hover {
    .edit {
      opacity: 1;
    }
  }
  h2 {
    font-size: 24px;
    line-height: 2rem;
  }
  p {
    color: $dark-light;
    margin-top: 1.5rem;
    line-height: 1.8rem;
    font-size: 16px;
  }
  .icon {
    font-size: 32px;

    color: $black;
    width: 18px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.edit {
  height: 24px;
  color: $primary;
  opacity: 0;
  transition: 0.2s ease opacity;
  cursor: pointer;
}
