@import "@/styles/_variables.scss";

.header {
  background: white;
  border-bottom: 1px solid $stroke;
  display: flex;
  padding: 0 2rem;
  height: 80px;
}

.link {
  display: flex;
  align-items: center;
}

.image {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.job {
  margin-top: 0.25rem;
  font-size: 14px;
}
