@import "@/styles/_variables.scss";

.container {
  background: white;
  border: 1px solid $stroke;
  padding: 3rem;
  border-radius: 15px;
}

.title {
  display: flex;
  h2 {
    font-size: 32px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.titleIcon {
  height: 28px;
  margin-right: 1.5rem;
}
.icon {
  width: 24px;
  margin-left: 0.75rem;
  color: $primary;
}

.divider {
  border: none;
  border-bottom: 1px solid $stroke;
  margin-bottom: 1.5rem;
}

.icon {
  cursor: pointer;
}
