@import "@/styles/_variables.scss";

.container {
  margin-bottom: 6rem;
}

.title {
  margin-bottom: 1rem;
  svg {
    width: 16px;
    margin-left: 0.75rem;
  }
}

.divider {
  border: none;
  border-bottom: 1px solid $stroke;
  margin-bottom: 1.5rem;
}

.icon {
  cursor: pointer;
}
