@import "@/styles/_variables.scss";
@import "@/styles/_breakpoints.scss";

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	padding: 0.5rem;
}

.modalContent {
	background-color: #fff;
	padding: 1.25rem 2rem;
	border-radius: 15px;
	position: relative;
	max-width: 700px;
	width: 100%;
	@include breakpoint(sm, max) {
		padding: 1.25rem;
	}
}

.modalHeader {
	margin-bottom: 2.5rem;
	flex-wrap: wrap;
	//   &::after {
	//     content: "";
	//     width: calc(100% + 4rem);
	//     height: 1px;
	//     display: block;
	//     background: $stroke;
	//     flex: 1;
	//     margin: 1.5rem -2rem;
	//   }
	p {
		margin-top: 0.25rem;
		color: $dark-light;
	}
}

.closeButton {
	background: none;
	border: none;
	font-size: 20px;
	color: $black;
	cursor: pointer;
	svg {
		width: 16px;
	}
	position: absolute;
	top: 1.5rem;
	right: 2rem;
}

.modalFooter {
	display: flex;
	justify-content: flex-end;
}

.saveButton:hover {
	background-color: #0056b3;
}
