@import "@/styles/_variables.scss";

.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 131, 183, 0.9),
      rgba(3, 77, 106, 0.98)
    ),
    url("/auth.jpeg");
  background-size: cover;
  //   background: $primary;
  flex: 1;
}
