@import "@/styles/_variables.scss";

.card {
	display: flex;
	gap: 0.75rem;
	width: calc(100% / 3);
	&.large {
		width: 100%;
	}
	&:hover {
		.icon {
			opacity: 1;
		}
	}
}

.date {
	color: $dark-light;
	font-size: 16px;
	margin-bottom: 0.75rem;
}

.subtitle {
	margin-top: 0.25rem;
	font-size: 16px;
	// font-weight: bold;
	// color: $dark-light;
}

.image {
	width: 55px;
	height: 55px;
	border-radius: 10px;
}

.body {
	margin-top: 1rem;
	line-height: 1.3rem;
	font-size: 14px;
}

.content {
	flex: 1;
}

.icon {
	width: 24px;
	opacity: 0;
	transition: 0.2s ease opacity;
	cursor: pointer;
	color: $primary;
}
