@import "@/styles/_variables.scss";

.form {
  width: 100%;
  .input {
    display: block;
    width: 100%;
    height: 44px;
    border-radius: 5px;
    border: 0.5px solid $stroke;
    margin-top: 0.5rem;
    padding: 0 1rem;
    font-size: 16px;
    box-shadow: 0 5px 20px -10px rgba(24, 21, 41, 0.1);
  }

  .label {
    color: $dark-light;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
  }

  .label:not(:last-child) {
    margin-bottom: 2rem;
  }
  .button {
    color: white;
    background: $primary;
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
}
