@import "@/styles/_variables.scss";

.container {
  width: calc((100% - 5rem) / 3);
  cursor: pointer;
  // box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.15);
}

.image {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  border: 1px solid $stroke;
  object-fit: cover;
  // box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.25);
}

.video,
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.video {
  z-index: 2;
  opacity: 0;
  transition: 0.2s ease opacity;
}

.title {
  font-size: 18px;
  color: #101015;
  text-transform: capitalize;
}

.date {
  color: #101015;
  font-size: 14px;
  margin-bottom: 0.75rem;
}

.description {
  margin-top: 0.25rem;
  color: #3c3c4b;
  font-size: 16px;
}

.placeholder {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  border-radius: 10px;
  background: linear-gradient(to right, #3366cc, #2d82cc);
  margin-bottom: 1rem;
  &:hover {
    .video {
      opacity: 1;
    }
    .editWrapper {
      opacity: 1;
    }
  }
}

.placeholderIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  color: white;
}

.editWrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid $stroke;
  opacity: 0;
  transition: 0.2s ease opacity;
  z-index: 10;
}

.editIcon {
  width: 24px;
}
