@import "@/styles/_variables.scss";

.footer {
  width: 100%;
  padding: 1.5rem 3rem;
  display: flex;
  margin: 0 auto;
}

.form {
  display: block;
  flex: 1;
  display: flex;
}

.input {
  flex: 1 1;
  border: none;
  background: transparent;
  color: #64646f;
  font: inherit;
  font-size: 14px;
  padding: 1rem 1.5rem;
  &:focus {
    outline: none;
  }
}

.formWrapper {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #dedede;
  width: 100%;
  border-radius: 50px;
  position: relative;
}

.icon {
  height: 20px;
  color: $primary;
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
  opacity: 0;
  transition: 0.2s ease opacity;
}

.active {
  opacity: 1;
}
