@import "@/styles/_variables.scss";

.container {
	display: flex;
	//   max-width: 1200px;
	margin: 0 auto;
	padding: 0 3rem;
	align-items: center;
	height: calc(100vh - 80px - 6rem);
	position: relative;
}

.icon {
	width: 36px;
	height: 36px;
	padding: 0.5rem;
	border-radius: 50%;
	background: $primary;
	color: white;
	cursor: pointer;
}

.iconDisabled {
	background: rgba($primary, 0.5);
	pointer-events: none;
}

.actions {
	position: absolute;
	bottom: -23px;
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 1rem;
	left: 0;
}
