@import "@/styles/_variables.scss";

.container {
	display: flex;
	//   max-width: 1200px;
	margin: 0 auto;
	// padding: 0 3rem;
	align-items: center;
	height: calc(100vh - 4rem);
	position: relative;
}

.placeholderContainer {
	// display: flex;
	// flex-direction: column;
	// // align-items: center;
	// justify-content: center;
	// height: 100%;
}

.title,
.text {
	text-align: center;
}

.text {
	font-size: 20px;
	max-width: 700px;
	margin: 0 auto;
	color: $dark-light;
	margin-top: 1rem;
	line-height: 1.75rem;
}

.icon {
	width: 36px;
	height: 36px;
	padding: 0.5rem;
	border-radius: 50%;
	background: $primary;
	color: white;
	cursor: pointer;
}

.iconDisabled {
	background: rgba($primary, 0.5);
	pointer-events: none;
}

.actions {
	display: flex;
	justify-content: center;
	margin-top: 4rem;
	gap: 1rem;
}
