@import "_variables.scss";

.container {
	background: $primary;
	border: none;
	padding: 0.9rem 3rem;
	border-radius: 10px;
	color: white;
	font: inherit;
	font-weight: bold;
	transition: 0.2s ease background;
	cursor: pointer;
	&:hover {
		background: darken($primary, 10%);
	}
}
