@import "./variables";
@import "./breakpoints";

.input {
	display: block;
	width: 100%;
	min-height: 44px;
	border-radius: 5px;

	border: 0.5px solid $stroke;
	padding: 0 1rem;
	font-size: 16px;
	box-shadow: 0 5px 20px -10px rgba(24, 21, 41, 0.1);
	background: white;
}

.input:disabled {
	background: #dddddd;
	color: $dark-light;
}

.label {
	color: $black;
	display: block;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0.4rem;
	line-height: 1.2rem;
	// font-family: "Poppins", sans-serif;
}

.formError {
	color: rgb(225, 26, 26);
	font-size: 14px;
	margin-top: 0.5rem;
}

.button {
	color: white;
	background: $primary;
	font-weight: bold;
	height: 44px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.shadow {
	box-shadow: 0 25px 25px -30px rgba(24, 21, 41, 0.2);
}

.input {
	// box-shadow: 0 0px 5px 1px rgba(24, 21, 41, 0.1);
	width: 100%;
	border: 1px solid $stroke;
	border-radius: 10px;
	padding: 0.75rem 1rem;
	color: $dark-light;
	&:focus {
		outline: none;
	}
}

.modalBody {
	overflow-y: auto;
	padding-right: 1rem;
	max-height: 500px;
	// &::after {
	//   content: "";
	//   width: calc(100% + 4rem);
	//   height: 1px;
	//   display: block;
	//   background: $stroke;
	//   flex: 1;
	//   margin: 2.5rem 1.25rem;
	// }
	.formGroup {
		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}

	&::-webkit-scrollbar {
		width: 8px;
		padding-left: 1rem;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: $primary;
		border-radius: 100px;
		transition: 0.2s ease background;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: darken($primary, 10%);
	}
}

.formGroup {
	&:not(:last-child) {
		margin-bottom: 1.5rem;
	}
}

.formTwoColumn {
	display: flex;
	gap: 2rem;
	.formGroup {
		flex: 1;
	}
	@include breakpoint(sm, max) {
		flex-direction: column;
	}
}

.modalFooter {
	margin-top: 1.25rem;
	display: flex;
	justify-content: space-between;
}

.modalFooterRight {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.placeholderBlue {
	animation: placeholder-pulse-blue 2s infinite;
	background: $primary;
}

.placeholderWhite {
	animation: placeholder-pulse-white 2s infinite;
	background: white;
}

.aspect_ratio_16x9 {
	position: relative;
	width: 100%;
	padding-top: calc(9 / 16 * 100%);
	overflow: hidden;
}

.aspect_ratio_16x9 > * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.modalSection {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	span {
		width: 28px;
		height: 28px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		background-color: $black;
		color: white;
		border-radius: 50%;
	}
	p {
		margin-left: 0.75rem;
		color: $dark-light;
	}
}

.modalDivider {
	border: none;
	border-top: 1px solid $stroke;
	padding-bottom: 1.5rem;
}

@keyframes placeholder-pulse-blue {
	0% {
		background-color: lighten($primary, 3%);
	}
	50% {
		background-color: lighten($primary, 8%);
	}
	100% {
		background-color: lighten($primary, 3%);
	}
}

@keyframes placeholder-pulse-white {
	0% {
		background-color: darken(white, 5%);
	}
	50% {
		background-color: darken(white, 12%);
	}
	100% {
		background-color: darken(white, 5%);
	}
}
