@import "./variables";

.nav {
  display: flex;
  justify-content: space-between;
  &__list {
    list-style: none;
    margin-top: 3rem;
  }
  &__item {
    margin-bottom: 1.5rem;
  }
  &__link {
    display: flex;
    align-items: center;
  }
}

.active {
  font-weight: bold;
}

.icon {
  height: 24px;
  color: $black;
  margin-right: 1.5rem;
}
