@import "_variables.scss";

.container {
	background: #f4f7ff;
	border: 1px solid $stroke;
	min-width: 400px;
	border-radius: 10px;
	padding: 1rem 0;
}

.title {
	font-size: 18px;
	margin-bottom: 1rem;
	padding: 0 1rem;
}
