@import "@/styles/_variables.scss";

.container {
	// background-color: white;
	// border: 0.5px solid $stroke;
	flex: 1;
	// margin-right: 4rem;
	// padding: 1.5rem;
	border-radius: 15px;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 28px;
}

.subtitle {
	margin-top: 0.15rem;
	font-weight: bold;
	color: $dark-light;
}

.bio {
	margin-top: 1rem;
	max-width: 550px;
	color: $dark-light;
	line-height: 1.4rem;
	// flex: 1;
}

.cta {
	margin-top: 2.25rem;
	display: inline-block;
	font: inherit;
}
